#leftnav.span2.fixed
  .well.sidebar-nav
    ul.nav.nav-list
      each link in menu
        if url === link.url || url != '/' && url.match("^" + link.url)
          cl = "active"
        else
          cl = ""
        li(class=cl)
          a(href=link.url)!= link.name
